<!DOCTYPE html>
<html>
<head>
    <title>Моё хобби</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h1>Моё хобби</h1>
            </div>
            <ul class="navigation">
                <a href="index.html"><li>Главная</li></a>
                <a href="its_me.html"><li>Обо мне</li></a>
                <a href="contacts.html"><li>Обратная связь</li></a>
            </ul>
        </div>
    </div>
    <div class="content">
        <h2>Добро пожаловать!</h2>
        <img src="invo.jpg"  alt="Мой любимый персонаж" width="450" height="450" class="float-left">
        <p> На картинке изображен персонаж на котором у меня бльше всего матчей, порядка 2к. Invoker</p>

        <p>Это мой сайт, посвящённый моему хобби - DOTA2.</p>

    </div>
</body>
</html>