<!DOCTYPE html>
<html>
<head>
    <title>Обо мне</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h1>Моё хобби</h1>
            </div>
            <ul class="navigation">
                <a href="index.html"><li>Главная</li></a>
                <a href="about.html"><li>Обо мне</li></a>
                <a href="contacts.html"><li>Обратная связь</li></a>
            </ul>
        </div>
    </div>
    <div class="content">
        <h2>Обо мне</h2>
        <img src="mars.jpg"  alt="Mars" width="450" height="450" class="float-left" >
        <p>Меня зовут Александр, и я увлекаюсь игрой в DOTA2 уже 9 лет.</p>
        <p>Я многое знаю про игру, играл на всех персонажах. Есть персонажи высогоко "ранга"
            Недавно получил "ранг" "Божество" еще немного и можно отнести себя к игрокам высокого уровня.
            На картинке изображен один из моих любимых персонажей. Mars</p>

    </div>
</body>
</html>